<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szl.lucky.dao.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.szl.lucky.dao.entity.Room">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="room_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="room_status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="room_type_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, room_id, room_status, room_type_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from room
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.szl.lucky.dao.entity.Room">
    insert into room (id, room_id, room_status, 
      room_type_id)
    values (#{id,jdbcType=BIGINT}, #{roomId,jdbcType=VARCHAR}, #{roomStatus,jdbcType=VARCHAR}, 
      #{roomTypeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.szl.lucky.dao.entity.Room">
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="roomStatus != null">
        room_status,
      </if>
      <if test="roomTypeId != null">
        room_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomStatus != null">
        #{roomStatus,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeId != null">
        #{roomTypeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szl.lucky.dao.entity.Room">
    update room
    <set>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomStatus != null">
        room_status = #{roomStatus,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeId != null">
        room_type_id = #{roomTypeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szl.lucky.dao.entity.Room">
    update room
    set room_id = #{roomId,jdbcType=VARCHAR},
      room_status = #{roomStatus,jdbcType=VARCHAR},
      room_type_id = #{roomTypeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>