<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szl.lucky.dao.mapper.VipMapper">
  <resultMap id="BaseResultMap" type="com.szl.lucky.dao.entity.Vip">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="vip_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="vip_discount" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="idcard" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deal_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, vip_id, vip_discount, idcard, deal_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vip
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vip
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.szl.lucky.dao.entity.Vip">
    insert into vip (id, vip_id, vip_discount, 
      idcard, deal_time)
    values (#{id,jdbcType=BIGINT}, #{vipId,jdbcType=VARCHAR}, #{vipDiscount,jdbcType=REAL}, 
      #{idcard,jdbcType=VARCHAR}, #{dealTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.szl.lucky.dao.entity.Vip">
    insert into vip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vipId != null">
        vip_id,
      </if>
      <if test="vipDiscount != null">
        vip_discount,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vipId != null">
        #{vipId,jdbcType=VARCHAR},
      </if>
      <if test="vipDiscount != null">
        #{vipDiscount,jdbcType=REAL},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szl.lucky.dao.entity.Vip">
    update vip
    <set>
      <if test="vipId != null">
        vip_id = #{vipId,jdbcType=VARCHAR},
      </if>
      <if test="vipDiscount != null">
        vip_discount = #{vipDiscount,jdbcType=REAL},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szl.lucky.dao.entity.Vip">
    update vip
    set vip_id = #{vipId,jdbcType=VARCHAR},
      vip_discount = #{vipDiscount,jdbcType=REAL},
      idcard = #{idcard,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>